<%= form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_area :text, rows: 3, class: 'form-control', placeholder: "What's on your mind, #{current_user.first_name}?", id: :status_text %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-primary float-right' %>
  </div>
<% end %>
